{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">


            <h1>Symfony 3.4 Running</h1>

        {{ dump(data) }}

         {{ data.only_car_id_1.make.name }}

        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
